<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <!-- Header -->
        <div class="row">
            <div class="col-md-12 jumbotron">
                <div class="container col-md-6 mx-auto text-center">
                    <h1 class="display-3">Welcome</h1>
                    <hr class="my-2">
                    <div class="dropdown" id="start_menu">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select an operation
                        </button>
                        <!-- For basic operations, buttons are next up-->
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Basic Operations</a>
                            <a class="dropdown-item" href="#">Trigonometric Operations</a>
                            <a class="dropdown-item" href="#">Hyperbolic Operations</a>
                            <a class="dropdown-item" href="#">Conversion Operations</a>
                        </div>
                    </div>

                    <!-- For trigonometric operations, choose the mode, then the trigonometric operation-->
                    <div class="dropdown d-none" id="Trigonometric_mode">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a mode
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Degrees</a>
                            <a class="dropdown-item" href="#">Radians</a>
                        </div>
                    </div>

                    <div class="dropdown d-none" id="Trigonometric_operations">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a trigonometric operation
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Trigonometric Functions</a>
                            <a class="dropdown-item" href="#">Inverse Trigonometric Functions</a>
                        </div>
                    </div>

                    <!-- For hyperbolic operations, choose either hyp or inverse hyp functions-->
                    <div class="dropdown d-none" id="Hyperbolic_operations">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a hyperbolic operation
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Hyperbolic Functions</a>
                            <a class="dropdown-item" href="#">Inverse Hyperbolic Functions</a>
                        </div>
                    </div>

                    <!-- For conversions, choose a conversion operation and fill the required form -->
                    <div class="dropdown d-none" id="Conversion_operations">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a conversion operation
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Number Systems</a>
                            <a class="dropdown-item" href="#">Temperature</a>
                            <a class="dropdown-item" href="#">Angles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Basic Buttons -->
        <div class="row d-none calc-dis" id="basic_display">
            <div class="col-md-6 mx-auto">
                <div class="container">
                    <!-- screen -->
                    <div class="row">
                        <div class="col-12 px-0 my-3">
                            <input class="w-100 form-control text-primary text-right" role="textbox" disabled>
                        </div>
                    </div>

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="7">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="8">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="9">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&plus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&minus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&times;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&divide;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&lpar;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&rpar;">
                        </div>
                    </div>

                    <!-- row 2 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="4">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="5">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="6">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="<math>
                                <mrow>
                                    <mrow>
                                        <msup>
                                            <mi>x</mi>
                                            <mn>2</mn>
                                        </msup>
                                    </mrow>
                                </mrow>
                            </math>">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&radic;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                    </div>


                    <!-- row 3 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="1">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="2">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="3">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                    </div>

                    <!-- row 4 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&dot;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="0">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="CA">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="mean( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="median( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="mode( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="max( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="min( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&equals;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trigonometric Buttons -->
        <div class="row d-none calc-dis" id="trigonometric_display">
            <div class="col-md-6 mx-auto">
                <div class="container">
                    <!-- screen -->
                    <div class="row">
                        <div class="col-12 px-0 my-3">
                            <input class="w-100 form-control text-primary text-right" role="textbox" disabled>
                        </div>
                    </div>

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="7">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="8">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="9">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&plus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&minus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&times;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&divide;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&lpar;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&rpar;">
                        </div>
                    </div>

                    <!-- row 2 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="4">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="5">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="6">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="<math>
                                <mrow>
                                    <mrow>
                                        <msup>
                                            <mi>x</mi>
                                            <mn>2</mn>
                                        </msup>
                                    </mrow>
                                </mrow>
                            </math>">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&radic;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                    </div>


                    <!-- row 3 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="1">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="2">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="3">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="sin( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="cos( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="tan( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="cosec( )">
                        </div>
                    </div>

                    <!-- row 4 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&dot;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="0">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="CA">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="sec( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="cot( )">
                        </div>
                        <div class="col-5 px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&equals;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inverse Trigonometric Buttons -->
        <div class="row d-none calc-dis" id="inverse_trigonometric_display">
            <div class="col-md-6 mx-auto">
                <div class="container">
                    <!-- screen -->
                    <div class="row">
                        <div class="col-12 px-0 my-3">
                            <input class="w-100 form-control text-primary text-right" role="textbox" disabled>
                        </div>
                    </div>

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="7">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="8">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="9">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&plus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&minus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&times;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&divide;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&lpar;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&rpar;">
                        </div>
                    </div>

                    <!-- row 2 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="4">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="5">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="6">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="<math>
                                <mrow>
                                    <mrow>
                                        <msup>
                                            <mi>x</mi>
                                            <mn>2</mn>
                                        </msup>
                                    </mrow>
                                </mrow>
                            </math>">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&radic;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                    </div>


                    <!-- row 3 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="1">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="2">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="3">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="asin( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="acos( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="atan( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="acosec( )">
                        </div>
                    </div>

                    <!-- row 4 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&dot;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="0">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="CA">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="asec( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="acot( )">
                        </div>
                        <div class="col-5 px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&equals;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hyperbolic Buttons -->
        <div class="row d-none calc-dis" id="hyperbolic_display">
            <div class="col-md-6 mx-auto">
                <div class="container">
                    <!-- screen -->
                    <div class="row">
                        <div class="col-12 px-0 my-3">
                            <input class="w-100 form-control text-primary text-right" role="textbox" disabled>
                        </div>
                    </div>

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="7">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="8">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="9">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&plus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&minus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&times;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&divide;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&lpar;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&rpar;">
                        </div>
                    </div>

                    <!-- row 2 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="4">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="5">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="6">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="<math>
                                <mrow>
                                    <mrow>
                                        <msup>
                                            <mi>x</mi>
                                            <mn>2</mn>
                                        </msup>
                                    </mrow>
                                </mrow>
                            </math>">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&radic;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                    </div>


                    <!-- row 3 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="1">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="2">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="3">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="sinh( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="cosh( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="tanh( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="cosech( )">
                        </div>
                    </div>

                    <!-- row 4 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&dot;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="0">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="CA">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="sech( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="coth( )">
                        </div>
                        <div class="col-5 px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&equals;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inverse Hyperbolic Buttons -->
        <div class="row d-none calc-dis" id="inverse_hyperbolic_display">
            <div class="col-md-6 mx-auto">
                <div class="container">
                    <!-- screen -->
                    <div class="row">
                        <div class="col-12 px-0 my-3">
                            <input class="w-100 form-control text-primary text-right" role="textbox" disabled>
                        </div>
                    </div>

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="7">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="8">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="9">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&plus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&minus;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&times;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&divide;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&lpar;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&rpar;">
                        </div>
                    </div>

                    <!-- row 2 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="4">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="5">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="6">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="<math>
                                <mrow>
                                    <mrow>
                                        <msup>
                                            <mi>x</mi>
                                            <mn>2</mn>
                                        </msup>
                                    </mrow>
                                </mrow>
                            </math>">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&radic;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                    </div>


                    <!-- row 3 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="1">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="2">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="3">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=" ">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="arsinh( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="arcosh( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="artanh( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="arcosech( )">
                        </div>
                    </div>

                    <!-- row 4 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="&dot;">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="0">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="CA">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="arsech( )">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-success w-100" role="button" value="arcoth( )">
                        </div>
                        <div class="col-5 px-0">
                            <input class="btn btn-light btn-outline-danger w-100" role="button" value="&equals;">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script>
        $(document).ready(function () {
            // $("#name").on('change', function () {
            //     alert($(this).val());
            // });
            var choice = "";
            var mode = "";
            var operation = "";

            $('#start_menu .dropdown-item').on('click', (e) => {
                choice = $(e.target).text();
                // start menu
                switch (choice) {
                    case "Basic Operations":
                        $('.calc-dis').addClass('d-none');
                        $('.dropdown').addClass('d-none');
                        $('#start_menu').removeClass('d-none');

                        $('#basic_display').removeClass("d-none");
                        break;


                    case "Trigonometric Operations":
                        $('.calc-dis').addClass('d-none');
                        $('.dropdown').addClass('d-none');
                        $('#start_menu').removeClass('d-none');

                        $('#Trigonometric_mode').removeClass("d-none");
                        // select mode
                        $('#Trigonometric_mode .dropdown-item').on('click', (e) => {
                            mode = $(e.target).text();
                            $('#Trigonometric_operations').removeClass("d-none");
                            // select trigonometric operation

                            $('#Trigonometric_operations .dropdown-item').on('click', (e) => {
                                operation = $(e.target).text();

                                if (operation == "Trigonometric Functions") {
                                    $('#trigonometric_display').removeClass("d-none");
                                } else if (operation ==
                                    "Inverse Trigonometric Functions") {
                                    $('#inverse_trigonometric_display').removeClass(
                                        "d-none");
                                }
                            })
                        })
                        break;

                    case "Hyperbolic Operations":
                        $('.calc-dis').addClass('d-none');
                        $('.dropdown').addClass('d-none');
                        $('#start_menu').removeClass('d-none');

                        $('#Hyperbolic_operations').removeClass("d-none");
                        // select hyperbolic operation
                        $('#Hyperbolic_operations .dropdown-item').on('click', (e) => {
                            operation = $(e.target).text();

                            if (operation == "Hyperbolic Functions") {
                                $('#hyperbolic_display').removeClass("d-none");
                            } else if (operation == "Inverse Hyperbolic Functions") {
                                $('#inverse_hyperbolic_display').removeClass("d-none");
                            }

                        })
                        break;

                    default:
                        alert("Invalid operation");
                }
            })
        });
    </script>

</body>

</html>