<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <!-- Header -->
        <div class="row">
            <div class="col-md-12 jumbotron">
                <div class="container col-md-6 mx-auto text-center">
                    <h1 class="display-3">Welcome</h1>
                    <hr class="my-2">
                    <div class="dropdown" id="start_menu">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select an operation
                        </button>
                        <!-- For basic operations, buttons are next up-->
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Basic Operations</a>
                            <a class="dropdown-item" href="#">Trigonometric Operations</a>
                            <a class="dropdown-item" href="#">Hyperbolic Operations</a>
                            <a class="dropdown-item" href="#">Conversion Operations</a>
                        </div>
                    </div>

                    <!-- For trigonometric operations, choose the mode, then the trigonometric operation-->
                    <div class="dropdown d-none" id="Trig1">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a mode
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Degrees</a>
                            <a class="dropdown-item" href="#">Radians</a>
                        </div>
                    </div>

                    <div class="dropdown d-none" id="Trig2">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a trigonometric operation
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Trigonometric Functions</a>
                            <a class="dropdown-item" href="#">Inverse Trigonometric Functions</a>
                        </div>
                    </div>

                    <!-- For hyperbolic operations, choose either hyp or inverse hyp functions-->
                    <div class="dropdown d-none">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a hyperbolic operation
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Hyperbolic Functions</a>
                            <a class="dropdown-item" href="#">Inverse Hyperbolic Functions</a>
                        </div>
                    </div>

                    <!-- For conversions, choose a conversion operation and fill the required form -->
                    <div class="dropdown d-none">
                        <button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select a conversion operation
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Number Systems</a>
                            <a class="dropdown-item" href="#">Temperature</a>
                            <a class="dropdown-item" href="#">Angles</a>
                        </div>
                    </div>

                    <!-- <div class="dropdown open">

                        <select id="name">
                            <option value="" disable selected hidden style="font-weight:100">Choose and operation
                            </option>
                            <option value="Basic Operations">Basic Operation</option>
                            <option value="Trigonometric Operations">Trigonometric Operations</option>
                            <option value="Hyperbolic Operations">Hyperbolic Operations</option>
                            <option value="Conversion Operations">Conversion Operations</option>
                        </select>

                    </div> -->
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="row d-none" id="calc-dis">
            <div class="col-md-6 mx-auto">
                <div class="container">
                    <!-- screen -->
                    <div class="row">
                        <div class="col-12 px-0 my-3">
                            <input class="w-100 form-control text-primary text-right" role="textbox" disabled>
                        </div>
                    </div>

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="7">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="8">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="9">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="*">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="%">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=".">
                        </div>
                    </div>

                    <!-- row 2 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="4">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="5">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="6">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="(">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=")">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="-/+">
                        </div>
                    </div>

                    <!-- row 3 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="1">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="2">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="3">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="!">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="<">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=">">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script>
        $(document).ready(function () {
            // $("#name").on('change', function () {
            //     alert($(this).val());
            // });
            var choice = "";
            var mode = "";
            var operation = "";

            $('#start_menu .dropdown-item').on('click', (e) => {
                choice = $(e.target).text();
                // start menu
                switch (choice) {
                    case "Trigonometric Operations":
                        $('#Trig1').removeClass("d-none");
                        // select mode
                        $('#Trig1 .dropdown-item').on('click', (e) => {
                            mode = $(e.target).text();
                            $('#Trig2').removeClass("d-none");
                            // select operation
                            $('#Trig2 .dropdown-item').on('click', (e) => {
                                operation = $(e.target).text();
                                $('#calc-dis').removeClass("d-none");
                            })
                        })
                }
            })
        });
    </script>

</body>

</html>