<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <!-- Header -->
        <div class="row">
            <div class="col-md-12 jumbotron">
                <div class="container col-md-6 mx-auto text-center">
                    <h1 class="display-3">Welcome</h1>
                    <hr class="my-2">
                    <div class="dropdown open">
                        <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="triggerId"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Please select an operation
                        </button>
                        <div class="dropdown-menu w-100 text-center" aria-labelledby="triggerId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                            <a class="dropdown-item" href="#">Action 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="container">
                    <!-- screen -->
                    <div class="row">
                        <div class="col-12 px-0 my-3">
                            <input class="w-100 form-control text-primary text-right" role="textbox" disabled>
                        </div>
                    </div>

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="7">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="8">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="9">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="*">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="%">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=".">
                        </div>
                    </div>

                    <!-- row 2 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="4">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="5">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="6">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="(">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=")">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="-/+">
                        </div>
                    </div>

                    <!-- row 3 -->
                    <div class="row">
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="1">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="2">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="3">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="!">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value="<">
                        </div>
                        <div class="col px-0">
                            <input class="btn btn-light btn-outline-primary w-100" role="button" value=">">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>